<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningcenterappandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningCenterAppAndroid">
        <activity
        android:name="com.example.learningcenterappandroid.StudentMain"
        android:label="Student" >
        </activity>
        <activity android:name="com.example.learningcenterappandroid.RequestATutor"></activity>
        <activity android:name="com.example.learningcenterappandroid.StudentSettings"></activity>
        <activity android:name="com.example.learningcenterappandroid.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.learningcenterappandroid.createanaccount" />
        <activity android:name="com.example.learningcenterappandroid.login" />
        <activity android:name="com.example.learningcenterappandroid.AdminMain" />
        <activity android:name="com.example.learningcenterappandroid.TutorMain" />
        <activity
            android:name=".Admin_TutorPop"
            android:theme="@style/CustomTheme" />
    </application>


</manifest>